@font-face {
    font-family: 'Alegreya';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Alegreya-Regular.woff') format('woff'), url('fonts/Alegreya-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/SourceSansPro-Regular.woff') format('woff'), url('fonts/SourceSansPro-Regular.woff2') format('woff2');
}

* {
    font-family: 'SourceSansPro', serif;
}
/*Main*/

html, body {
    height: 100%;
}

#wrap {
    height: auto !important;
    min-height: 100%;
    margin-bottom: -40px;

    background-color: #fff;
}

#wrap:after {
    display: block;

    content: "";
}

#wrap:after, #footer {
    height: 40px;
}

#footer {
    padding: 0.2%;

    text-align: center;

    color: #fff;
    background-color: #1F2421;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/**/

/* Navigation Bar */

.navbar-brand {
    width: 150px;
    /*    overflow: hidden;*/

/*    background-color: #fff;*/
}

.navbar-brand img {
    width: 130px;
    margin-top: -20px;
}


/**/


/* Side Nav */

.navbtn {
    width: 200px;

    text-align: left;
}

.navbtn2 {
    width: 200px;

    text-align: left;
}

.navbtnicon {
    float: right;
}


/**/


/* Material Design */

.navbar.navbar-inverse {
    /*    background-color: #1F2421;*/
}


/**/


/*Layout*/
.center {
    display: block;

  margin-right: auto;
  margin-left: auto;
}

.right {
    float: right;
}

.p2030 {
    padding: 20px 30px;
}

.p20 {
    padding: 0px 20px;
}

.p40 {
    padding: 0px 40px;
}

.p4040 {
    padding: 40px 40px;
}

.p10 {
    padding: 10px;
}

.p100 {
    padding: 100px 100px;
}

.p15020 {
    padding: 20px 150px;
}

/**/

/*Text*/
.titleh {
    text-align: center;
}
/*Modal*/
.labeltext {
    color: #1F2421;
}
/*Timeattendance*/
.confirmation {
    display: flex;
      overflow: auto;
      flex-direction: column;

    height: 350px;

      justify-content: center;
  }

.confirmationtext {
    font-family: 'Alegreya';
    font-size: 60px;
    font-weight: 500;
}

.intro {
    color: #fff;
}
/*Index*/
.intro h1 {
    letter-spacing: 3px;

    font-size: 60px;
    font-weight: 800;
    line-height: normal;
}
.intro p {
    letter-spacing: 1px;

    font-size: 20px;
    line-height: normal;
}
.introsub h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

/**/

/*Image*/
/*Employee List*/
.employeeimg {
    text-align: center;

    font-size: 70px;
}
/*Recruitment - Service Crew*/
.servicecrewimg {
  height: 450px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

/*Index*/
.smallimg {
  height: 50px;
}

.medimg {
  height: 100px;
}
.bigimg {
  height: 130px;
margin: 0 auto;
}

.restaurantimg {
  height: 300px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

.restaurantimgcard {
  height: 180px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

/**/

/*Table*/
/*Payroll Table*/
.overflowxtable {
    overflow-x: scroll;

    width: 100%;
}
/**/

/* Icon */
.sidenav i[class*='fa'] {
font-size: 15px;
}
.sidenav i[class='material-icons'] {
font-size: 18px;
}

table td i[class='fa fa-edit'],
table td i[class='fa fa-remove'],
table td i[class='fa fa-external-link'],
i[class='fa fa-plus-circle'],
i[class='fa fa-minus-circle'],
.row-content i[class*='fa fa-external-link'],
.row-content i[class*='fa fa-bar-chart-o'],
.row-content i[class*='fa fa-edit'],
.row-content i[class*='fa fa-remove'],
i[class="fa fa-arrow-right"] {
  font-size: 20px;
}
/**/


/* Content */
/*Index pages*/
.featuresimage {
    height: 100vh;
    min-height: 100%;

    background-image: url("../img/bk.jpg");
    background-position: top center;
    background-size: cover;
}
.featuresimagefull {
    height: 100%;
    min-height: 100%;

    background-image: url("../img/bk.jpg");
    background-position: top center;
    background-size: cover;
}

.featuresgray {
    background-color: #f7f7f7;
}
/**/
