/*Main*/
* {
    font-family: 'Roboto',sans-serif;
}
html, body {
    height: 100%;
}

#wrap {
    height: auto !important;
    min-height: 100%;
    margin-bottom: -40px;

    background-color: #fff;
}

#wrap:after {
    display: block;

    content: "";
}

#wrap:after, #footer {
    height: 40px;
}

#footer {
    padding: 0.2%;

    text-align: center;

    color: #fff;
    background-color: #1F2421;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.nopadding {
    margin-left: -15px;
    margin-right: -15px;
}
/**/

/* Navigation Bar */

.navbar-brand {
    width: 150px;
    /*    overflow: hidden;*/

/*    background-color: #fff;*/
}

.navbar-brand img {
    width: 130px;
    margin-top: -20px;
}


/**/


/* Side Nav */

.navbtn {
    width: 200px;

    text-align: left;
}

.navbtn2 {
    width: 200px;

    text-align: left;
}

.navbtnicon {
    float: right;
}


/**/


/* Material Design */

.navbar.navbar-inverse {
    /*    background-color: #1F2421;*/
}


/**/


/*Layout*/
.center {
    display: block;

  margin-right: auto;
  margin-left: auto;
}

.right {
    float: right;
}

.p2030 {
    padding: 20px 30px;
}

.p20 {
    padding: 0px 20px;
}

.p40 {
    padding: 0px 40px;
}

.p4040 {
    padding: 40px 40px;
}

.p10 {
    padding: 10px;
}

.p100 {
    padding: 100px 100px;
}

.p15020 {
    padding: 20px 150px;
}

.p50150 {
    padding: 50px 150px 0px 100px;
}

@media only screen and (min-width : 768px) and (max-width : 992px) {
    .p50150 {
        padding: 100px 10px 0px 10px;
    }
    .p15020 {
        padding: 20px 100px;
    }
}
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .p50150 {
        padding: 100px 10px 0px 10px;
    }
    .p15020 {
        padding: 20px 50px;
    }
}
@media only screen and (min-width : 320px) and (max-width: 479px) {
    .p50150 {
        padding: 50px 10px 0px 10px;
    }
    .p15020 {
        padding: 20px 50px;
    }
}
@media only screen and (max-width: 319px) {
    .p50150 {
        padding: 20px 10px 0px 10px;
    }
    .p15020 {
        padding: 20px auto;
    }
}

/*Text*/
.titleh {
    text-align: center;
}
/*Modal*/
.labeltext {
    color: #1F2421;
}
/*Timeattendance*/
.confirmation {
    display: flex;
      overflow: auto;
      flex-direction: column;

    height: 350px;

      justify-content: center;
  }

.confirmationtext {
    font-family: 'Alegreya';
    font-size: 60px;
    font-weight: 500;
}

.intro {
    color: #fff;
}
/*Index*/
.intro h1 {
    letter-spacing: 3px;
    font-family: 'Tangerine',cursive;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
}
.introsub p {
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 30px;
}
.introsub h1, .introsub h2 {
    font-family: 'Work Sans';    font-size: 30px;    letter-spacing: 3px;    text-transform: uppercase;    text-align: center;}.textsansserif {
    font-family: 'Work Sans';
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.textcursive {
    font-family: 'Montez';
    font-size: 25px;
}
@media only screen and (min-width : 993px) and (max-width : 1200px){
    .introsub p {
        font-size: 15px;
        line-height: 25px;
    }
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
    .introsub p {
        font-size: 15px;
    }
}
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .introsub p {
        font-size: 13px;
        line-height: 20px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .introsub p {
        font-size: 13px;
        line-height: 20px;
    }
}
@media only screen and (max-width : 319px) {
    .introsub p {
        font-size: 10px;
        line-height: 15px;
    }
}

/**/

/*Image*/
/*Employee List*/
.employeeimg {
    text-align: center;

    font-size: 70px;
}
/*Recruitment - Service Crew*/
.servicecrewimg {
  height: 450px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

/*Index*/
.smallimg {
  height: 50px;
}

.medimg {
  height: 100px;
}
.bigimg {
  height: 130px;
margin: 0 auto;
}

.restaurantimg {
  height: 300px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

.restaurantimg2 {
  height: 500px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}


.restaurantimgcard {
  height: 180px;

  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

.restaurantimgcard2 {
  height: 180px;
  width: 200px;
  background-image: url("../img/food.jpg");
  background-position: top center;
  background-size: cover;
}

/**/

/*Table*/
/*Payroll Table*/
.overflowxtable {
    overflow-x: scroll;

    width: 100%;
}
/**/

/* Icon */
.sidenav i[class*='fa'] {
font-size: 15px;
}
.sidenav i[class='material-icons'] {
font-size: 18px;
}

table td i[class='fa fa-edit'],
table td i[class='fa fa-remove'],
table td i[class='fa fa-external-link'],
i[class='fa fa-plus-circle'],
i[class='fa fa-minus-circle'],
.row-content i[class*='fa fa-external-link'],
.row-content i[class*='fa fa-bar-chart-o'],
.row-content i[class*='fa fa-edit'],
.row-content i[class*='fa fa-remove'],
i[class="fa fa-arrow-right"]{
  font-size: 20px;
}

.sidebar-toggle {
    padding: 8px 10px !important;
}
.sidebar-toggle i{
    font-size: 20px;
}
/**/


/* Content */
/*Index pages*/
.featuresimage {
    height: 100vh;
    min-height: 100%;

    background-image: url("../img/ab.jpeg");
    background-position: top center;
    background-size: cover;
}
.featuresimage2 {
    height: 100vh;
    min-height: 100%;

    background-image: url("../img/aa.jpg");
    background-position: top center;
    background-size: cover;
}
.featuresimagefull {
    height: 100%;
    min-height: 100%;

    background-image: url("../img/aa.jpg");
    background-position: top center;
    background-size: cover;
}

.featuresgray {
    background-color: #f7f7f7;
}
.featuresblue {
    background-color: #216869;
}
.boxwhite {
    background-color: #fff;
}
.paddingdiv {
    padding: 50px 40px;
    line-height: 30px;
    text-align: justify;
}
/**/
